# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

*Objectives:*

- List popular languages for Data Science
- List popular libraries used by Data Scientists
- List some popular Data Science tools

#### Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL

#### Some of the commonly used libraries used by Data Scientists include:

- Numpy
- Pandas
- Matplotlib

| Data Science Tools |
|---|
| Jupyter Notebook |
| Rstudio |
| VSCode |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Charles Lima